{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


	{% load static %}
		{% if not check_login and user.is_authenticated %}
			<!-- k cho user chua dang nhap co the dat cau hoi -->
		<form accept-charset="UTF-8" action = "{% url 'registration:index' username  %}" method = 'post'>
    		{% csrf_token %}
				<p> Ask {{ username }} something!</p>
			<input class="form-control" type="text" name="asker_" placeholder="Asker" required>
			<br />
			<input class="form-control" type="text" name="content_" placeholder="Content of the question" required="">
			<br />

			{% if messages %}
			<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			<input class="form-control" id="two-factor-code" type="text" name="verification_code" value="" placeholder="Enter six digit number." autocomplete="off">


			<br />
			<input class="form-control btn btn-primary "  type = "submit" value = "ASK" />
			{% endif %}
        </form>




			{% if question_list %}
				    <h2> Someone asked {{ username }} :3 </h2>
		    	{% for q in question_list %}
        			         <h2>Question: {{ q.content }} </h2>
          	          	<h4>From: {{ q.name_asker }}</h4>
                        <h6>Time: {{ q.asking_day }} </h6>
            				        {% if not q.answer %}
            					       {% if check_login %}
                              <form action = "{% url 'registration:index' username %}" method = 'post'>
                                            {% csrf_token %}
            					           <input type="text" name="answer_" placeholder="Your answer">
            					           <input type="hidden" name="question_id" value="{{ q.id }}">
            					           <input type="submit" name="Answer">
                            	</form>

            					       {% endif%} <!-- if check_login-->
            				        {% else %}
            					       <p>  The answer: {{ q.answer }}</p>
            				        {% endif %} <!-- if answer-->
    			{% endfor %}

    		{% else %}
    			          <p> {{ username }} don't have any question yet!</p>

    		{% endif %}

 {% endblock %}
