{% extends 'base.html' %}
{% block title %} Register page {% endblock %}
{% load static %}
{% block content %}

<div class="body_signup"></div>
	<div class="grad"></div>
	<div class="header">

		<div>Accounts<span>Signup</span></div>
	</div>
	<br>
<div class="login">

<h1> register</h1>
<form method="POST" action="{% url 'registration:signup' %}" >
	{% csrf_token %}
	{% for field in form %}
	    <div >
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	    </div>
	{% endfor %}

	<input type="submit" class="btn btn-custom btn-lg page-scroll" value="Signup"/>
</form>
</div>
{% endblock %}
