{% extends 'base.html' %}

{% block title %} Login page {% endblock %}
{% load static %}

{% block content %}

<div class="body_signup"></div>
	<div class="grad"></div>
	<div class="header">

		<div>Accounts<span>Signup</span></div>
	</div>
	<br>
<div class="login">
	<h1> Let's login </h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-custom btn-lg page-scroll">Login</button>
	</form>
	 <a href="{% url 'registration:signup' %}" > let's sign in now!</a>
</div
{% endblock %}
