{% extends 'base.html' %}
{% load static %}
{% block title %} Login page {% endblock %}
{% load static %}

{% block content %}

<div class="body_signup"></div>
	<div class="grad"></div>
	<div class="header">

		<div>Accounts<span>Signup</span></div>
	</div>
	<br>
<div class="login">
	<h1> Let's login </h1>
	<form method="post">
		{% csrf_token %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
						{{ message }}
	  </li>
    {% endfor %}
    </ul>
    {% endif %}
		{{ form.as_p }}
		<!-- add recaptcha -->
		<!-- <script src='https://www.google.com/recaptcha/api.js'></script>
		<div class="g-recaptcha" data-sitekey="6Lf35GIUAAAAAFg4uWQAkyQtBLhIVVP5ZvXJnp9b"></div> -->
		
		<input type="hidden" name="captcha_id" value="{{ id_ }}">
			<img src="{{ cap.picture.url }}" width="240" />
			<input type="text" class="form-control" name="code_captcha"
				autocomplete="off" required="" placeholder="Enter captcha code">
		<button type="submit" class="btn btn-custom btn-lg page-scroll">Login</button>
	</form>
	 <a href="{% url 'registration:signup' %}" > let's sign in now!</a>
</div
{% endblock %}
